.item {
  display: flex;
  align-items: center;
  gap: 15px;

  height: 75px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  margin-bottom: 10px;
  padding: 5px 25px;
}

.item:last-child {
  margin-bottom: 50px;
}

.status {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.avatar {
  width: 65px;
  background-color: silver;
  border-radius: 5px;
}

.name {
  font-size: 24px;
  font-weight: bold;
  color: #1f475c;
}
